/*---------------------------------------------------------------------------*\
    #JOHNMRAKE
    
    1. CORE ... core web styles
    2. LAYOUT ... base layout and helper functions
\*---------------------------------------------------------------------------*/
@import "../../../../../node_modules/uswds/src/stylesheets/all.scss";
@import "variables";
@import "mixins";

@import "profile";




/*---------------------------------------------------------------------------*\
    #CORE

    1. Set the HTML font size to 10px to ensure .1 rem unit equals 1px. 
\*---------------------------------------------------------------------------*/

html {
  font-size: 10px; /* [1] */
  height: 100%;
}

body {
    @include font-size();
    height: 100%;
}




/*---------------------------------------------------------------------------*\
    #LAYOUT

\*---------------------------------------------------------------------------*/
header[role="banner"] {
    text-align: center;
    
    .profile {
        border-color: $color-gray-light;
        display: inline-block;
    }
    
    a {
        display: inline-block;
    }
}

main,
aside[role="complementary"] {
    margin-top: 5rem;
}

.usa-section {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
 }

.usa-section-dark {
  background-color: $color-gray-dark;
  color: #ffffff;
}
 
 .usa-section-dark h2,
 .usa-section-dark h3,
 .usa-section-dark .usa-font-lead {
    color: #ffffff;
}


/*---------------------------------------------------------------------------*\
    #POST

\*---------------------------------------------------------------------------*/
.post-title {
    margin-top: 0;
}

.post {
    margin-bottom: 6em;
}