/*---------------------------------------------------------------------------*    #JOHNMRAKE
    
    1. CORE ... core web styles
    2. LAYOUT ... base layout and helper functions
\*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*    #CORE

    1. Set the HTML font size to 10px to ensure .1 rem unit equals 1px. 
\*---------------------------------------------------------------------------*/
html {
  font-size: 10px;
  /* [1] */
  height: 100%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  height: 100%; }

/*---------------------------------------------------------------------------*    #LAYOUT

\*---------------------------------------------------------------------------*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto; }
