/*---------------------------------------------------------------------------*\
    #JOHNMRAKE
    
    1. CORE ... core web styles
    2. LAYOUT ... base layout and helper functions
\*---------------------------------------------------------------------------*/
@import "../../../../../node_modules/uswds/src/stylesheets/all.scss";
@import "variables";
@import "mixins";




/*---------------------------------------------------------------------------*\
    #CORE

    1. Set the HTML font size to 10px to ensure .1 rem unit equals 1px. 
\*---------------------------------------------------------------------------*/

html {
  font-size: 10px; /* [1] */
  height: 100%;
}

body {
    @include font-size();
    height: 100%;
}




/*---------------------------------------------------------------------------*\
    #LAYOUT

\*---------------------------------------------------------------------------*/

.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
}