<header class="usa-section" role="banner">
    <div class="usa-grid">
        <a href="{{@blog.url}}">
            <img class="profile" src="/assets/images/john-rake.jpeg" alt="John Rake"/> 
        </a>
    </header>
</div>