<nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        {{#foreach navigation}}
            <li class="pure-menu-item-{{slug}}{{#if current}} pure-menu-selected{{/if}}" role="presentation">
                <a href="{{url absolute="true"}}" class="pure-menu-link">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
</nav>
